/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}
a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type='file'] {
  max-width: 100%;
}
body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-style: normal;
}
:root {
  --color-acctent: #f55455;
}
.btn {
  display: block;
  padding: 10px;
  background-color: var(--color-acctent);
  border: 1px solid var(--color-acctent);
  color: white;
  max-width: 160px;
  width: 100%;
  height: 45px;
  text-align: center;
}
.btn:hover {
  background-color: white;
  color: var(--color-acctent);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #0000000d;
  max-width: 1140px;
  margin: auto;
}
.header__logo {
  max-width: 180px;
}
.header__menu-list {
  display: flex;
  gap: 25px;
}
.header__menu-link {
  color: #000;
  font-size: clamp(0.625rem, -0.0087rem + 1.5842vw, 1.125rem);
}
.burger-menu {
  display: none;
}
.burger-close {
  display: none;
}
.overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 9999;
}
.popup__sostav {
  display: none;
}

.popup__sostav.active {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 10000;
}
.popup__sostav img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #f7f7f787;
  padding: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section > .row {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}
.hero {
  overflow: hidden;
  background: linear-gradient(0deg, #abd8ff, transparent);
}
.hero__container {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  position: relative;
}
.hero__content-link {
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  z-index: 1000;
  justify-items: center;
}
.hero__content-link img {
  width: 150px;
}
.hero__content-link a{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn_buy {
  max-width: 120px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-acctent);
  border-radius: 25px;
  color: white;
  padding: 5px 10px;
  text-align: center;
}
.list-items {
  position: absolute;
  inset: 0;
}
.list {
  position: absolute;
  z-index: -1;
}
.list-1 {
  top: 0;
}
.list-2 {
  top: 0;
  right: 35%;
}
.list-3 {
  top: 20%;
  right: 60%;
}
.list-4 {
  top: 25%;
  right: 10%;
}
.list-5 {
  bottom: 0;
  z-index: 1;
}
.list-6 {
  bottom: 10%;
  right: 65%;
  z-index: 1;
}
.list-7 {
  bottom: 0;
  right: 35%;
}
.list-8 {
  right: 15%;
  bottom: 10%;
}
.hero__image {
  max-width: 350px;
  margin: auto;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero__content-title {
  font-size: 24px;
}
.product-description {
  background-color: #f7f7f7;
}
.product-description__container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 20px;
  padding-bottom: 30px;
}
.product-description__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
.product-description__title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product-description__title h2 {
  font-size: 24px;
  font-weight: 700;
}
.product-description__title span {
  color: var(--color-acctent);
  font-weight: 700;
}
.product-description__use {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-description__use-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-description__use-title {
  font-size: 16px;
  opacity: 0.5;
}
.product-description__use-text {
  font-size: 14px;
}
.product-description__researches {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 20px;
}
.product-description__researches-links {
  display: flex;
  gap: 20px;
}
.product-description__researches-item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  align-items: center;
  box-shadow: black 0px 0px 10px -5px;
}
.product-description__researches-text {
  font-size: 14px;
}
.product-description__researches-and {
  display: flex;
  gap: 20px;
  align-items: center;
}
.product-description__researches-and span {
  color: white;
  background-color: var(--color-acctent);
  border-radius: 50%;
  padding: 8px;
  line-height: 0.5;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.about__container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 35px;
  align-items: center;
  padding: 45px 0;
}
.about__image {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.about__image h2 {
  font-size: 24px;
  color: var(--color-acctent);
}
.about__image h2 span {
  color: #000;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 15px;
  box-shadow: black 0px 0px 10px -5px;
}
.about__title {
  font-weight: 700;
}
.steps__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.steps__title {
  font-size: 24px;
  color: var(--color-acctent);
  text-align: center;
}
.steps__title span {
  color: #000;
}
.steps__content {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  align-items: center;
  gap: 20px;
}
.steps__items-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 15px;
}
.steps__items {
  display: flex;
  gap: 10px;
  padding: 0 20px 20px;
  background-color: #f7f7f7;
}
.steps__items-item:last-child {
  transform: translateY(20px);
}
.steps__items-item:last-child span {
  color: #01aa93;
}
.steps__items-item:first-child span {
  color: #ff4728;
}
.steps__items-item:nth-child(2) span {
  color: #ff891f;
}
.unique {
  padding: 0 30px;
  background-color: #f7f7f7;
}
.unique__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.unique__title h2 {
  font-size: 24px;
}
.unique__title h2 span {
  color: var(--color-acctent);
}
.unique__items {
  display: grid;
  justify-content: space-around;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
.unique__item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.unique__item-img {
  box-shadow: #41414121 0px 0px 10px 0px;
}
.unique__content {
  display: flex;
  align-items: center;
  gap: 30px;
}
.unique__content-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.unique__content-text h3 {
  font-size: 20px;
  font-weight: 700;
}
.unique__content-text span {
  font-size: 14px;
  opacity: 0.5;
}
.virus {
  background-image: url(/assets/img/bg-virus.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.virus__container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  align-items: center;
  gap: 50px;
  padding: 40px;
}
.virus__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.virus__image h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}
.virus__image img {
  width: 84px;
  height: 84px;
}
.virus__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.5;
}
.virus__content h3 {
  font-size: 20px;
  font-weight: 700;
}
.sale {
  background: linear-gradient(0deg, #abd8ff, transparent);
}
.sale__container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 50px;
  align-items: center;
  justify-items: center;
}
.sale__container-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sale__container-content h2 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}
.sale__container-img img {
  max-width: 280px;
}
.sale__container-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

footer {
  text-align: center;
  font-size: 12px;
  background-color: #f7f7f7;
  padding: 10px;
  opacity: 0.3;
}

@media (max-width: 1125px) {
  .product-description__researches {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 830px) {
  .list-1 {
    top: 0;
  }
  .list-2 {
    top: -25px;
    right: 0;
  }
  .list-3 {
    top: 75%;
    right: 0;
  }
  .list-4 {
    display: none;
  }
  .list-5 {
    bottom: 0;
    max-width: 59px;
  }
  .list-6 {
    bottom: 10%;
    right: 65%;
    max-width: 59px;
    z-index: 1;
  }
  .list-7 {
    bottom: 0;
    right: 35%;
  }
  .list-8 {
    display: none;
  }
}

@media (max-width: 639px) {
  .header__menu {
    position: relative;
    z-index: 10000;
  }
  .burger-menu {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 5px;
    background-color: var(--color-acctent);
    flex-direction: column;
    cursor: pointer;
    justify-content: space-evenly;
    padding: 12px;
    transition: padding ease-in-out 0.3s;
  }
  .burger-menu > span {
    display: block;
    height: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: height ease-in 0.3s;
  }
  .burger-menu:hover {
    padding: 11px;
  }
  .burger-menu:hover > span {
    height: 3px;
  }

  .header__menu-list {
    position: fixed;
    right: -70%;
    transition: right ease-out 300ms;
    display: flex;
    flex-direction: column;
    top: 0;
    background: rgb(255, 255, 255);
    padding: 25px;
    height: 100%;
    width: 70%;
    align-items: center;
    z-index: 10;
  }
  .header__menu-list.active {
    right: 0;
  }
  .header__menu-link {
    font-size: 16px;
  }
  .burger-close {
    position: absolute;
    display: block;
    top: 0px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
    padding: 8px;
    line-height: 0.5;
  }
  .hero__container {
    grid-template-columns: 1fr;
  }
  .hero__content {
    align-items: center;
    text-align: center;
  }
  .hero__content-text {
    text-align: center;
    font-size: 14px;
  }
  .list-1 {
    top: 0;
  }
  .list-2 {
    top: -25px;
    right: 0;
  }
  .list-3 {
    top: 90%;
    right: -70px;
  }
  .list-4 {
    display: none;
  }
  .list-5 {
    bottom: 30%;
    left: -60px;
    max-width: 59px;
    z-index: -1;
  }
  .list-6 {
    bottom: inherit;
    right: 0;
    max-width: 79px;
    z-index: 1;
    top: 40%;
  }
  .list-7 {
    bottom: 25%;
    right: -60px;
  }
  .list-8 {
    display: block;
    right: 90%;
    bottom: 0;
  }
  .product-description__container {
    grid-template-columns: 1fr;
  }
  .product-description__img {
    order: -1;
  }
  .about__container {
    grid-template-columns: 1fr;
  }
  .about__image img {
    display: none;
  }
  .steps {
    background-color: #f7f7f7;
  }
  .steps__content {
    grid-template-columns: 1fr;
  }
  .unique__items {
    grid-template-columns: 1fr;
  }
  .unique__content {
    flex-direction: column;
  }
  .virus__container {
    grid-template-columns: 1fr;
  }
  .virus__content {
    text-align: center;
  }
  .sale__container {
    grid-template-columns: 1fr;
  }
}
